---
layout: default
title: Welcome
team: home
---

<p>Comprehensive guide to player attributes in Tecmo Super Bowl for NES.</p>

<div class="top-player-container">
  {% jsonball players from file _data/qb.json %}
  <div class="top-players">
    <h3 class="position"><span>Quarterbacks <a href="/players/qb/">More</a></span></h3>
    <ol>
      {% for x in (0..4) %}
      <li class="player">
        <a href="/teams/{{ players[x].team | downcase }}/" class="helmet-link"><i class="helmet helmet-{{ players[x].team | downcase }}"></i></a>
        <i class="headshot headshot-{{ players[x].team | downcase }} headshot-{{ players[x].position }}"></i>

        <section class="player-info">
          <h3 class="player-name">{{ players[x].name }}</h3>
          <h4 class="player-position-number">{{ players[x].position }} {{ players[x].number }}</h4>
        </section>
      </li>
      {% endfor %}
    </ol>
  </div>

  {% jsonball players from file _data/rushers.json %}
  <div class="top-players">
    <h3 class="position"><span>Rushers <a href="/players/rushers/">More</a></span></span></h3>
    <ol>
      {% for x in (0..4) %}
      <li class="player">
        <a href="/teams/{{ players[x].team | downcase }}/" class="helmet-link"><i class="helmet helmet-{{ players[x].team | downcase }}"></i></a>
        <i class="headshot headshot-{{ players[x].team | downcase }} headshot-{{ players[x].position }}"></i>

        <section class="player-info">
          <h3 class="player-name">{{ players[x].name }}</h3>
          <h4 class="player-position-number">{{ players[x].position }} {{ players[x].number }}</h4>
        </section>
      </li>
      {% endfor %}
    </ol>
  </div>

  {% jsonball players from file _data/receivers.json %}
  <div class="top-players">
    <h3 class="position"><span>Receivers <a href="/players/receivers/">More</a></span></span></h3>
    <ol>
      {% for x in (0..4) %}
      <li class="player">
        <a href="/teams/{{ players[x].team | downcase }}/" class="helmet-link"><i class="helmet helmet-{{ players[x].team | downcase }}"></i></a>
        <i class="headshot headshot-{{ players[x].team | downcase }} headshot-{{ players[x].position }}"></i>

        <section class="player-info">
          <h3 class="player-name">{{ players[x].name }}</h3>
          <h4 class="player-position-number">{{ players[x].position }} {{ players[x].number }}</h4>
        </section>
      </li>
      {% endfor %}
    </ol>
  </div>

  {% jsonball players from file _data/kick-returners.json %}
  <div class="top-players">
    <h3 class="position"><span>Kick Returners <a href="/players/kick-returners/">More</a></span></span></h3>
    <ol>
      {% for x in (0..4) %}
      <li class="player">
        <a href="/teams/{{ players[x].team | downcase }}/" class="helmet-link"><i class="helmet helmet-{{ players[x].team | downcase }}"></i></a>
        <i class="headshot headshot-{{ players[x].team | downcase }} headshot-{{ players[x].position }}"></i>

        <section class="player-info">
          <h3 class="player-name">{{ players[x].name }}</h3>
          <h4 class="player-position-number">{{ players[x].position }} {{ players[x].number }}</h4>
        </section>
      </li>
      {% endfor %}
    </ol>
  </div>

  {% jsonball players from file _data/punt-returners.json %}
  <div class="top-players">
    <h3 class="position"><span>Punt Returners <a href="/players/punt-returners/">More</a></span></span></h3>
    <ol>
      {% for x in (0..4) %}
      <li class="player">
        <a href="/teams/{{ players[x].team | downcase }}/" class="helmet-link"><i class="helmet helmet-{{ players[x].team | downcase }}"></i></a>
        <i class="headshot headshot-{{ players[x].team | downcase }} headshot-{{ players[x].position }}"></i>

        <section class="player-info">
          <h3 class="player-name">{{ players[x].name }}</h3>
          <h4 class="player-position-number">{{ players[x].position }} {{ players[x].number }}</h4>
        </section>
      </li>
      {% endfor %}
    </ol>
  </div>

  {% jsonball players from file _data/ol.json %}
  <div class="top-players">
    <h3 class="position"><span>Offensive Linemen <a href="/players/ol/">More</a></span></span></h3>
    <ol>
      {% for x in (0..4) %}
      <li class="player">
        <a href="/teams/{{ players[x].team | downcase }}/" class="helmet-link"><i class="helmet helmet-{{ players[x].team | downcase }}"></i></a>
        <i class="headshot headshot-{{ players[x].team | downcase }} headshot-{{ players[x].position }}"></i>

        <section class="player-info">
          <h3 class="player-name">{{ players[x].name }}</h3>
          <h4 class="player-position-number">{{ players[x].position }} {{ players[x].number }}</h4>
        </section>
      </li>
      {% endfor %}
    </ol>
  </div>

  {% jsonball players from file _data/dl.json %}
  <div class="top-players">
    <h3 class="position"><span>Defensive Linemen <a href="/players/dl/">More</a></span></span></h3>
    <ol>
      {% for x in (0..4) %}
      <li class="player">
        <a href="/teams/{{ players[x].team | downcase }}/" class="helmet-link"><i class="helmet helmet-{{ players[x].team | downcase }}"></i></a>
        <i class="headshot headshot-{{ players[x].team | downcase }} headshot-{{ players[x].position }}"></i>

        <section class="player-info">
          <h3 class="player-name">{{ players[x].name }}</h3>
          <h4 class="player-position-number">{{ players[x].position }} {{ players[x].number }}</h4>
        </section>
      </li>
      {% endfor %}
    </ol>
  </div>

  {% jsonball players from file _data/lb.json %}
  <div class="top-players">
    <h3 class="position"><span>Linebackers <a href="/players/lb/">More</a></span></span></h3>
    <ol>
      {% for x in (0..4) %}
      <li class="player">
        <a href="/teams/{{ players[x].team | downcase }}/" class="helmet-link"><i class="helmet helmet-{{ players[x].team | downcase }}"></i></a>
        <i class="headshot headshot-{{ players[x].team | downcase }} headshot-{{ players[x].position }}"></i>

        <section class="player-info">
          <h3 class="player-name">{{ players[x].name }}</h3>
          <h4 class="player-position-number">{{ players[x].position }} {{ players[x].number }}</h4>
        </section>
      </li>
      {% endfor %}
    </ol>
  </div>

  {% jsonball players from file _data/cb-s.json %}
  <div class="top-players">
    <h3 class="position"><span>Secondary <a href="/players/cb-s/">More</a></span></span></h3>
    <ol>
      {% for x in (0..4) %}
      <li class="player">
        <a href="/teams/{{ players[x].team | downcase }}/" class="helmet-link"><i class="helmet helmet-{{ players[x].team | downcase }}"></i></a>
        <i class="headshot headshot-{{ players[x].team | downcase }} headshot-{{ players[x].position }}"></i>

        <section class="player-info">
          <h3 class="player-name">{{ players[x].name }}</h3>
          <h4 class="player-position-number">{{ players[x].position }} {{ players[x].number }}</h4>
        </section>
      </li>
      {% endfor %}
    </ol>
  </div>

  {% jsonball players from file _data/k.json %}
  <div class="top-players">
    <h3 class="position"><span>Kickers <a href="/players/k/">More</a></span></span></h3>
    <ol>
      {% for x in (0..4) %}
      <li class="player">
        <a href="/teams/{{ players[x].team | downcase }}/" class="helmet-link"><i class="helmet helmet-{{ players[x].team | downcase }}"></i></a>
        <i class="headshot headshot-{{ players[x].team | downcase }} headshot-{{ players[x].position }}"></i>

        <section class="player-info">
          <h3 class="player-name">{{ players[x].name }}</h3>
          <h4 class="player-position-number">{{ players[x].position }} {{ players[x].number }}</h4>
        </section>
      </li>
      {% endfor %}
    </ol>
  </div>

  {% jsonball players from file _data/p.json %}
  <div class="top-players">
    <h3 class="position"><span>Punters <a href="/players/p/">More</a></span></span></h3>
    <ol>
      {% for x in (0..4) %}
      <li class="player">
        <a href="/teams/{{ players[x].team | downcase }}/" class="helmet-link"><i class="helmet helmet-{{ players[x].team | downcase }}"></i></a>
        <i class="headshot headshot-{{ players[x].team | downcase }} headshot-{{ players[x].position }}"></i>

        <section class="player-info">
          <h3 class="player-name">{{ players[x].name }}</h3>
          <h4 class="player-position-number">{{ players[x].position }} {{ players[x].number }}</h4>
        </section>
      </li>
      {% endfor %}
    </ol>
  </div>
</div>

