---
layout: default
title: Welcome
team: home
---

<h2>Comprehensive guide to<br> player attributes in<br> Tecmo Super Bowl for NES.</h2>

<div class="top-player-container">
  {% jsonball players from file _data/qb.json %}
  <div class="top-players">
    <h3 class="position"><a href="/players/qb/"><span class="position-name">Quarterbacks</span><span class="more">More</span></a></h3>
    <ol>
      {% for x in (0..4) %}
      <li class="player">
        <a href="/teams/{{ players[x].team | downcase }}/" class="helmet-link"><i class="helmet helmet-{{ players[x].team | downcase }}"></i></a>
        <i class="headshot headshot-{{ players[x].team | downcase }} headshot-{{ players[x].position }}"></i>

        <section class="player-info">
          <h3 class="player-name">{{ players[x].name }}</h3>
          <h4 class="player-position-number">{{ players[x].position }} {{ players[x].number }}</h4>
        </section>
      </li>
      {% endfor %}
    </ol>
  </div>

  {% jsonball players from file _data/rushers.json %}
  <div class="top-players">
    <h3 class="position"><a href="/players/rushers/"><span class="position-name">Rushers</span><span class="more">More</span></a></h3>
    <ol>
      {% for x in (0..4) %}
      <li class="player">
        <a href="/teams/{{ players[x].team | downcase }}/" class="helmet-link"><i class="helmet helmet-{{ players[x].team | downcase }}"></i></a>
        <i class="headshot headshot-{{ players[x].team | downcase }} headshot-{{ players[x].position }}"></i>

        <section class="player-info">
          <h3 class="player-name">{{ players[x].name }}</h3>
          <h4 class="player-position-number">{{ players[x].position }} {{ players[x].number }}</h4>
        </section>
      </li>
      {% endfor %}
    </ol>
  </div>

  {% jsonball players from file _data/receivers.json %}
  <div class="top-players">
    <h3 class="position"><a href="/players/receivers/"><span class="position-name">Receivers</span><span class="more">More</span></a></h3>
    <ol>
      {% for x in (0..4) %}
      <li class="player">
        <a href="/teams/{{ players[x].team | downcase }}/" class="helmet-link"><i class="helmet helmet-{{ players[x].team | downcase }}"></i></a>
        <i class="headshot headshot-{{ players[x].team | downcase }} headshot-{{ players[x].position }}"></i>

        <section class="player-info">
          <h3 class="player-name">{{ players[x].name }}</h3>
          <h4 class="player-position-number">{{ players[x].position }} {{ players[x].number }}</h4>
        </section>
      </li>
      {% endfor %}
    </ol>
  </div>

  {% jsonball players from file _data/kick-returners.json %}
  <div class="top-players">
    <h3 class="position"><a href="/players/kick-returners/"><span class="position-name">Kick Returners</span><span class="more">More</span></a></h3>
    <ol>
      {% for x in (0..4) %}
      <li class="player">
        <a href="/teams/{{ players[x].team | downcase }}/" class="helmet-link"><i class="helmet helmet-{{ players[x].team | downcase }}"></i></a>
        <i class="headshot headshot-{{ players[x].team | downcase }} headshot-{{ players[x].position }}"></i>

        <section class="player-info">
          <h3 class="player-name">{{ players[x].name }}</h3>
          <h4 class="player-position-number">{{ players[x].position }} {{ players[x].number }}</h4>
        </section>
      </li>
      {% endfor %}
    </ol>
  </div>

  {% jsonball players from file _data/punt-returners.json %}
  <div class="top-players">
    <h3 class="position"><a href="/players/punt-returners/"><span class="position-name">Punt Returners</span><span class="more">More</span></a></h3>
    <ol>
      {% for x in (0..4) %}
      <li class="player">
        <a href="/teams/{{ players[x].team | downcase }}/" class="helmet-link"><i class="helmet helmet-{{ players[x].team | downcase }}"></i></a>
        <i class="headshot headshot-{{ players[x].team | downcase }} headshot-{{ players[x].position }}"></i>

        <section class="player-info">
          <h3 class="player-name">{{ players[x].name }}</h3>
          <h4 class="player-position-number">{{ players[x].position }} {{ players[x].number }}</h4>
        </section>
      </li>
      {% endfor %}
    </ol>
  </div>

  {% jsonball players from file _data/ol.json %}
  <div class="top-players">
    <h3 class="position"><a href="/players/ol/"><span class="position-name">Offensive Linemen</span><span class="more">More</span></a></h3>
    <ol>
      {% for x in (0..4) %}
      <li class="player">
        <a href="/teams/{{ players[x].team | downcase }}/" class="helmet-link"><i class="helmet helmet-{{ players[x].team | downcase }}"></i></a>
        <i class="headshot headshot-{{ players[x].team | downcase }} headshot-{{ players[x].position }}"></i>

        <section class="player-info">
          <h3 class="player-name">{{ players[x].name }}</h3>
          <h4 class="player-position-number">{{ players[x].position }} {{ players[x].number }}</h4>
        </section>
      </li>
      {% endfor %}
    </ol>
  </div>

  {% jsonball players from file _data/dl.json %}
  <div class="top-players">
    <h3 class="position"><a href="/players/dl/"><span class="position-name">Defensive Linemen</span><span class="more">More</span></a></h3>
    <ol>
      {% for x in (0..4) %}
      <li class="player">
        <a href="/teams/{{ players[x].team | downcase }}/" class="helmet-link"><i class="helmet helmet-{{ players[x].team | downcase }}"></i></a>
        <i class="headshot headshot-{{ players[x].team | downcase }} headshot-{{ players[x].position }}"></i>

        <section class="player-info">
          <h3 class="player-name">{{ players[x].name }}</h3>
          <h4 class="player-position-number">{{ players[x].position }} {{ players[x].number }}</h4>
        </section>
      </li>
      {% endfor %}
    </ol>
  </div>

  {% jsonball players from file _data/lb.json %}
  <div class="top-players">
    <h3 class="position"><a href="/players/dl/"><span class="position-name">Linebackers</span><span class="more">More</span></a></h3>
    <ol>
      {% for x in (0..4) %}
      <li class="player">
        <a href="/teams/{{ players[x].team | downcase }}/" class="helmet-link"><i class="helmet helmet-{{ players[x].team | downcase }}"></i></a>
        <i class="headshot headshot-{{ players[x].team | downcase }} headshot-{{ players[x].position }}"></i>

        <section class="player-info">
          <h3 class="player-name">{{ players[x].name }}</h3>
          <h4 class="player-position-number">{{ players[x].position }} {{ players[x].number }}</h4>
        </section>
      </li>
      {% endfor %}
    </ol>
  </div>

  {% jsonball players from file _data/cb-s.json %}
  <div class="top-players">
    <h3 class="position"><a href="/players/cb-s/"><span class="position-name">Secondary</span><span class="more">More</span></a></h3>
    <ol>
      {% for x in (0..4) %}
      <li class="player">
        <a href="/teams/{{ players[x].team | downcase }}/" class="helmet-link"><i class="helmet helmet-{{ players[x].team | downcase }}"></i></a>
        <i class="headshot headshot-{{ players[x].team | downcase }} headshot-{{ players[x].position }}"></i>

        <section class="player-info">
          <h3 class="player-name">{{ players[x].name }}</h3>
          <h4 class="player-position-number">{{ players[x].position }} {{ players[x].number }}</h4>
        </section>
      </li>
      {% endfor %}
    </ol>
  </div>

  {% jsonball players from file _data/k.json %}
  <div class="top-players">
    <h3 class="position"><a href="/players/k/"><span class="position-name">Kickers</span><span class="more">More</span></a></h3>
    <ol>
      {% for x in (0..4) %}
      <li class="player">
        <a href="/teams/{{ players[x].team | downcase }}/" class="helmet-link"><i class="helmet helmet-{{ players[x].team | downcase }}"></i></a>
        <i class="headshot headshot-{{ players[x].team | downcase }} headshot-{{ players[x].position }}"></i>

        <section class="player-info">
          <h3 class="player-name">{{ players[x].name }}</h3>
          <h4 class="player-position-number">{{ players[x].position }} {{ players[x].number }}</h4>
        </section>
      </li>
      {% endfor %}
    </ol>
  </div>

  {% jsonball players from file _data/p.json %}
  <div class="top-players">
    <h3 class="position"><a href="/players/p/"><span class="position-name">Punters</span><span class="more">More</span></a></h3>
    <ol>
      {% for x in (0..4) %}
      <li class="player">
        <a href="/teams/{{ players[x].team | downcase }}/" class="helmet-link"><i class="helmet helmet-{{ players[x].team | downcase }}"></i></a>
        <i class="headshot headshot-{{ players[x].team | downcase }} headshot-{{ players[x].position }}"></i>

        <section class="player-info">
          <h3 class="player-name">{{ players[x].name }}</h3>
          <h4 class="player-position-number">{{ players[x].position }} {{ players[x].number }}</h4>
        </section>
      </li>
      {% endfor %}
    </ol>
  </div>
</div>

