<header>
  <h1>{{ page.title }}</h1>
</header>

<!-- Linebackers -->
<section class="players lb">
  <ol>
    <li class="player labels">
      <section class="section-label">
        <h3>LB</h3>
      </section>

      <section class="player-ranking">
        <h5>Ranking</h5>
        <h6>out of 112</h6>
      </section>

      <ul class="player-abilities">
        <li class="running-speed">RS</li>
        <li class="rushing-power">RP</li>
        <li class="maximum-speed">MS</li>
        <li class="hitting-power">HP</li>
        <li class="pass-interceptions">I</li>
      </ul>
    </li>
    {% for x in (0..111) %}
    <li class="player">
      <a href="/teams/{{ players[x].team | downcase }}/"><i class="helmet helmet-{{ players[x].team | downcase }}"></i></a>
      <i class="headshot headshot-{{ players[x].team | downcase }} headshot-{{ players[x].position }}"></i>

      <section class="player-info">
        <h3 class="player-name">{{ players[x].name }}</h3>
        <h4 class="player-position-number">{{ players[x].position }} {{ players[x].number }}</h4>
      </section>

      <section class="player-ranking">
        <h5>{{ players[x].ranking }}</h5>
      </section>

      <ul class="player-abilities">
        <li class="running-speed power-{{ players[x].running_speed }}">{{ players[x].running_speed }}</li>
        <li class="rushing-power power-{{ players[x].rushing_power }}">{{ players[x].rushing_power }}</li>
        <li class="maximum-speed power-{{ players[x].maximum_speed }}">{{ players[x].maximum_speed }}</li>
        <li class="hitting-power power-{{ players[x].hitting_power }}">{{ players[x].hitting_power }}</li>
        <li class="pass-interceptions power-{{ players[x].pass_interceptions }}">{{ players[x].pass_interceptions }}</li>
      </ul>
    </li>
    {% endfor %}
  </ol>
  <p class="ability-notes">{{ site.defense-text }}</p>
</section>

