<ol class="player-list">
  <li>
    <ol>
      <li><a href="/players/qb/">Quarterbacks</a></li>
      <li><a href="/players/rushers/">Rushers</a></li>
      <li><a href="/players/receivers/">Receivers</a></li>
      <li><a href="/players/kick-returners/">Kick Returners</a></li>
      <li><a href="/players/punt-returners/">Punt Returners</a></li>
      <li><a href="/players/ol/">Offensive Linemen</a></li>
    </ol>
  </li>
  <li>
    <ol>
      <li><a href="/players/dl/">Defensive Linemen</a></li>
      <li><a href="/players/lb/">Linebackers</a></li>
      <li><a href="/players/cb-s/">Secondary</a></li>
      <li><a href="/players/k/">Kickers</a></li>
      <li><a href="/players/p/">Punters</a></li>
    </ol>
  </li>
</ol>

