<ol class="player-list">
  <li>
    <ol>
      <li><a href="/players/qb/">QB</a></li>
      <li><a href="/players/rushers/">Rushers</a></li>
      <li><a href="/players/receivers/">Receivers</a></li>
      <li><a href="/players/kick-returners/">Kick Returners</a></li>
      <li><a href="/players/punt-returners/">Punt Returners</a></li>
      <li><a href="/players/ol/">OL</a></li>
    </ol>
  </li>
  <li>
    <ol>
      <li><a href="/players/dl/">DL</a></li>
      <li><a href="/players/lb/">LB</a></li>
      <li><a href="/players/cb-s/">CB/S</a></li>
      <li><a href="/players/k/">K</a></li>
      <li><a href="/players/p/">P</a></li>
    </ol>
  </li>
</ol>

