<header>
  <h1>{{ page.title }}</h1>
  <p class="ability-notes rb-wr-te-notes">{{ site.rb-wr-te-text }}</p>
</header>

<div class="players rb-wr-te receiving">
  <ol>
    <li class="receiver-toggle">
      <ul class="skill-toggles" style='text-align: left;'>
        <li><a href="#" class="show-all active">RBs, WRs & TEs</a></li>
        <li><a href="#" class="only-wr">Only WRs & TEs</a></li>
      </ul>
    </li>

    <li class="player labels">
      <div class="player-ranking">
        <h5><a href="#" data-toggle="tooltip" title="Out of all receivers">Ranking</a></h5>
      </div>

      <div class="player-rating-label">
        <h5><a href="#" data-toggle="tooltip" title="Out of 100%">Rating</a></h5>
      </div>

      <ul class="player-abilities">
        <li class="running-speed"><a href="#" data-toggle="tooltip" title="Running Speed">RS</a></li>
        <li class="maximum-speed"><a href="#" data-toggle="tooltip" title="Maximum Speed">MS</a></li>
        <li class="hitting-power"><a href="#" data-toggle="tooltip" title="Hitting Power">HP</a></li>
        <li class="ball-control"><a href="#" data-toggle="tooltip" title="Ball Control">BC</a></li>
        <li class="receptions"><a href="#" data-toggle="tooltip" title="Receptions">REC</a></li>
      </ul>
    </li>

    {% for x in (0..279) %}
      <li class="player player-listing player-{{ players[x].position }}">
        <div class="player-ranking">
          <h5>{{ players[x].receiving_ranking }}</h5>
        </div>

        <a href="/teams/{{ players[x].team | downcase }}/"><i class="helmet helmet-{{ players[x].team | downcase }}"></i></a>
        <i class="headshot headshot-{{ players[x].team | downcase }} headshot-{{ players[x].position }}"></i>

        <div class="player-info">
          <h3 class="player-name">{{ players[x].name }}</h3>
          <h4 class="player-position-number">{{ players[x].position }} {{ players[x].number }}</h4>
        </div>

        <div class="player-rating">
          <h5>{{ players[x].receiving_rating }}</h5>
        </div>

        <ul class="player-abilities">
          <li class="running-speed power-{{ players[x].running_speed }}">{{ players[x].running_speed }}</li>
          <li class="maximum-speed power-{{ players[x].maximum_speed }}">{{ players[x].maximum_speed }}</li>
          <li class="hitting-power power-{{ players[x].hitting_power }}">{{ players[x].hitting_power }}</li>
          <li class="ball-control power-{{ players[x].ball_control }}">{{ players[x].ball_control }}</li>
          <li class="receptions power-{{ players[x].receptions }}">{{ players[x].receptions }}</li>
        </ul>
      </li>
    {% endfor %}
  </ol>
</div>
