<ol class="team-list">
  <li>
    <h6>AFC East</h6>
    <ol>
      <li><a href="/teams/bills"><i class="helmet helmet-bills"></i> <span>Bills</span></a></li>
      <li><a href="/teams/colts"><i class="helmet helmet-colts"></i> <span>Colts</span></a></li>
      <li><a href="/teams/dolphins"><i class="helmet helmet-dolphins"></i> <span>Dolphins</span></a></li>
      <li><a href="/teams/patriots"><i class="helmet helmet-patriots"></i> <span>Patriots</span></a></li>
      <li><a href="/teams/jets"><i class="helmet helmet-jets"></i> <span>Jets</span></a></li>
    </ol>
  </li>
  <li>
    <h6>AFC Central</h6>
    <ol>
      <li><a href="/teams/bengals"><i class="helmet helmet-bengals"></i> <span>Bengals</span></a></li>
      <li><a href="/teams/browns"><i class="helmet helmet-browns"></i> <span>Browns</span></a></li>
      <li><a href="/teams/oilers"><i class="helmet helmet-oilers"></i> <span>Oilers</span></a></li>
      <li><a href="/teams/steelers"><i class="helmet helmet-steelers"></i> <span>Steelers</span></a></li>
    </ol>
  </li>
  <li>
    <h6>AFC West</h6>
    <ol>
      <li><a href="/teams/broncos"><i class="helmet helmet-broncos"></i> <span>Broncos</span></a></li>
      <li><a href="/teams/chiefs"><i class="helmet helmet-chiefs"></i> <span>Chiefs</span></a></li>
      <li><a href="/teams/raiders"><i class="helmet helmet-raiders"></i> <span>Raiders</span></a></li>
      <li><a href="/teams/chargers"><i class="helmet helmet-chargers"></i> <span>Chargers</span></a></li>
      <li><a href="/teams/seahawks"><i class="helmet helmet-seahawks"></i> <span>Seahawks</span></a></li>
    </ol>
  </li>
  <li>
    <h6>NFC East</h6>
    <ol>
      <li><a href="/teams/redskins"><i class="helmet helmet-redskins"></i> <span>Redskins</span></a></li>
      <li><a href="/teams/giants"><i class="helmet helmet-giants"></i> <span>Giants</span></a></li>
      <li><a href="/teams/eagles"><i class="helmet helmet-eagles"></i> <span>Eagles</span></a></li>
      <li><a href="/teams/cardinals"><i class="helmet helmet-cardinals"></i> <span>Cardinals</span></a></li>
      <li><a href="/teams/cowboys"><i class="helmet helmet-cowboys"></i> <span>Cowboys</span></a></li>
    </ol>
  </li>
  <li>
    <h6>NFC Central</h6>
    <ol>
      <li><a href="/teams/bears"><i class="helmet helmet-bears"></i> <span>Bears</span></a></li>
      <li><a href="/teams/lions"><i class="helmet helmet-lions"></i> <span>Lions</span></a></li>
      <li><a href="/teams/packers"><i class="helmet helmet-packers"></i> <span>Packers</span></a></li>
      <li><a href="/teams/vikings"><i class="helmet helmet-vikings"></i> <span>Vikings</span></a></li>
      <li><a href="/teams/buccaneers"><i class="helmet helmet-buccaneers"></i> <span>Buccaneers</span></a></li>
    </ol>
  </li>
  <li>
    <h6>NFC West</h6>
    <ol>
      <li><a href="/teams/49ers"><i class="helmet helmet-49ers"></i> <span>49ers</span></a></li>
      <li><a href="/teams/rams"><i class="helmet helmet-rams"></i> <span>Rams</span></a></li>
      <li><a href="/teams/saints"><i class="helmet helmet-saints"></i> <span>Saints</span></a></li>
      <li><a href="/teams/falcons"><i class="helmet helmet-falcons"></i> <span>Falcons</span></a></li>
    </ol>
  </li>
</ol>

