<footer>
<ol class="team-list">
  <li>
    <h6>AFC East</h6>
    <ol>
      <li><a href="/teams/bills"><i class="helmet helmet-bills"></i> Bills</a></li>
      <li><a href="/teams/colts"><i class="helmet helmet-colts"></i> Colts</a></li>
      <li><a href="/teams/dolphins"><i class="helmet helmet-dolphins"></i> Dolphins</a></li>
      <li><a href="/teams/patriots"><i class="helmet helmet-patriots"></i> Patriots</a></li>
      <li><a href="/teams/jets"><i class="helmet helmet-jets"></i> Jets</a></li>
    </ol>
  </li>
  <li>
    <h6>AFC Central</h6>
    <ol>
      <li><a href="/teams/bengals"><i class="helmet helmet-bengals"></i> Bengals</a></li>
      <li><a href="/teams/browns"><i class="helmet helmet-browns"></i> Browns</a></li>
      <li><a href="/teams/oilers"><i class="helmet helmet-oilers"></i> Oilers</a></li>
      <li><a href="/teams/steelers"><i class="helmet helmet-steelers"></i> Steelers</a></li>
    </ol>
  </li>
  <li>
    <h6>AFC West</h6>
    <ol>
      <li><a href="/teams/broncos"><i class="helmet helmet-broncos"></i> Broncos</a></li>
      <li><a href="/teams/chiefs"><i class="helmet helmet-chiefs"></i> Chiefs</a></li>
      <li><a href="/teams/raiders"><i class="helmet helmet-raiders"></i> Raiders</a></li>
      <li><a href="/teams/chargers"><i class="helmet helmet-chargers"></i> Chargers</a></li>
      <li><a href="/teams/seahawks"><i class="helmet helmet-seahawks"></i> Seahawks</a></li>
    </ol>
  </li>
  <li>
    <h6>NFC East</h6>
    <ol>
      <li><a href="/teams/redskins"><i class="helmet helmet-redskins"></i> Redskins</a></li>
      <li><a href="/teams/giants"><i class="helmet helmet-giants"></i> Giants</a></li>
      <li><a href="/teams/eagles"><i class="helmet helmet-eagles"></i> Eagles</a></li>
      <li><a href="/teams/cardinals"><i class="helmet helmet-cardinals"></i> Cardinals</a></li>
      <li><a href="/teams/cowboys"><i class="helmet helmet-cowboys"></i> Cowboys</a></li>
    </ol>
  </li>
  <li>
    <h6>NFC Central</h6>
    <ol>
      <li><a href="/teams/bears"><i class="helmet helmet-bears"></i> Bears</a></li>
      <li><a href="/teams/lions"><i class="helmet helmet-lions"></i> Lions</a></li>
      <li><a href="/teams/packers"><i class="helmet helmet-packers"></i> Packers</a></li>
      <li><a href="/teams/vikings"><i class="helmet helmet-vikings"></i> Vikings</a></li>
      <li><a href="/teams/buccaneers"><i class="helmet helmet-buccaneers"></i> Buccaneers</a></li>
    </ol>
  </li>
  <li>
    <h6>NFC West</h6>
    <ol>
      <li><a href="/teams/49ers"><i class="helmet helmet-49ers"></i> 49ers</a></li>
      <li><a href="/teams/rams"><i class="helmet helmet-rams"></i> Rams</a></li>
      <li><a href="/teams/saints"><i class="helmet helmet-saints"></i> Saints</a></li>
      <li><a href="/teams/falcons"><i class="helmet helmet-falcons"></i> Falcons</a></li>
    </ol>
  </li>
</ol>
</footer>

