<header class="main-header">
  <h1><a href="/">Tecmo<br> Geek</a></h1>

  <nav class="top-nav">
    <ul>
      <li class="nav-teams">
        <a href="#">Teams</a>
        {% include team-list.html %}
      </li>
      <li class="nav-players">
        <a href="#">Players</a>
        <ol>
          <li><a href="/players/qb/">QB</a></li>
          <li><a href="/players/rushers/">Rushers</a></li>
          <li><a href="/players/receivers/">Receivers</a></li>
          <li><a href="/players/kick-returners/">Kick Returners</a></li>
          <li><a href="/players/punt-returners/">Punt Returners</a></li>
          <li><a href="/players/ol/">OL</a></li>
          <li><a href="/players/dl/">DL</a></li>
          <li><a href="/players/lb/">LB</a></li>
          <li><a href="/players/cb-s/">CB/S</a></li>
          <li><a href="/players/k/">K</a></li>
          <li><a href="/players/p/">P</a></li>
        </ol>
      </li>
    </ul>
  </nav>
</header>

