footer {
  @extend .clearfix;
  background: #111;
  padding: 2em;

  .team-list {
    @extend .clearfix;
    float: left;
    width: 75%;

    > li {
      float: left;
      margin: 0 0 2em 0;
      text-align: left;
      width: 16.6666666666667%;

      h6 {
        display: none;
        /*color: #aaa;*/
        /*font-size: 14px;*/
        /*font-weight: bold;*/
        /*margin: 0 0 10px 0;*/
        /*text-transform: uppercase;*/
      }

      ol {
        li {
          a {
            border-radius: 4px;
            @include box-sizing(border-box);
            color: #fff;
            display: block;
            font-size: 14px;
            font-weight: bold;
            margin: 0 20px 0 0;
            padding: 6px;
            text-decoration: none;

            i {
              margin-right: 8px;
              vertical-align: middle;
            }

            span {
              display: none;
            }

            &:hover {
              background: #272727;
            }
          }
        }
      }
    }
  }

  .player-list {
    @extend .clearfix;
    float: left;
    width: 25%;

    a {
      border-radius: 4px;
      @include box-sizing(border-box);
      color: #fff;
      display: block;
      font-size: 14px;
      font-weight: bold;
      margin: 0 20px 0 0;
      padding: 6px;
      text-decoration: none;

      &:hover {
        background: #272727;
      }
    }
  }
}

