footer {
  @extend .clearfix;
  background: #111;
  @include box-shadow(0 -3px 5px 0 rgba(#000, 0.2));
  max-width: 1440px;
  min-width: 930px;
  padding: 2em 0 0 0;

  .footer-lists {
    @extend .clearfix;
  }

  .team-list {
    @extend .clearfix;
    float: left;
    margin: 0 2% 0 0;
    width: 75%;

    > li {
      float: left;
      margin: 0 0 2em 0;
      text-align: center;
      width: 16.6666666666667%;

      h6 {
        color: #aaa;
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 10px 0;
        text-transform: uppercase;
      }

      ol {
        li {
          margin: 0 0 0.5em 0;
          text-align: center;

          a {
            border-radius: 4px;
            @include box-sizing(border-box);
            color: #fff;
            display: block;
            font-size: 14px;
            font-weight: bold;
            padding: 6px;
            text-decoration: none;

            i {
              margin-right: 8px;
              vertical-align: middle;
            }

            span {
              display: block;
              margin: 0.5em 0 0 0;
            }

            &:hover {
              background: #272727;
            }
          }
        }
      }
    }
  }

  .player-list {
    @extend .clearfix;
    float: left;
    width: 23%;

    a {
      border-radius: 4px;
      @include box-sizing(border-box);
      color: #fff;
      display: block;
      font-size: 14px;
      font-weight: bold;
      margin: 0 20px 0 0;
      padding: 6px;
      text-decoration: none;

      &:hover {
        background: #272727;
      }
    }
  }

  .credits {
    @extend .clearfix;
    background: #000;
    border-top: 1px solid rgba(#fff, 0.15);
    color: rgba(#fff, 0.5);
    font-size: 1em;
    padding: 1em 1em 2em 1em;

    a {
      color: #1863d6;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

