@mixin power-meter($ability) {
  @include background-image(linear-gradient(left, #63adff 0%, #63adff $ability, transparent $ability));
}

header {
  h1 {
    font-size: 2em;
    margin: 0 0 2em 0;
  }
}

.players {
  margin: 0 0 4em 0;

  .player {
    @extend .clearfix;
    margin: 0 0 8px 0;
    padding: 0 0 8px 0;

    .player-info {
      float: left;
      width: 160px;

      h3 {
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 2px 0;
      }

      h4 {
        color: #555;
        font-size: 14px;
      }
    }

    .player-overall-rating {
      float: left;
      margin: 0 20px 0 0;
      text-align: center;
      width: 80px;

      h5 {
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 2px 0;
      }

      h6 {
        color: #bbb;
        font-size: 14px;
      }
    }

    .player-ratings {
      float: left;
      width: 700px;

      > li {
        @include box-sizing(border-box);
        border: 3px solid #d7d7d7;
        color: #222;
        font-size: 12px;
        font-weight: bold;
        float: left;
        margin: 0 2% 0 0;
        padding: 8px 4px;
        width: 18%;
      }
    }
  }

  .labels {
    border-bottom: 1px solid #eee;
    margin: 0 0 12px 0;
    padding: 0 0 2px 0;

    .section-label {
      float: left;
      width: 260px;

      h3 {
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 2px 0;
      }
    }

    .player-ratings {
      > li {
        border: 0;

        span {
          display: inline-block;
          @include transform(rotate(-35deg));
        }
      }
    }
  }
}

.players.qb {
  .player-ratings li {
    &.maximum-speed {
      width: 23%;
    }

    &.passing-speed {
      width: 13%;
    }

    &.pass-control {
      width: 48%;
    }

    &.avoid-pass-block {
      width: 8%;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.players.rushing {
  .receiving-rating {
    display: none;
  }

  .player-ratings li {
    &.running-speed {
      width: 8%;
    }

    &.maximum-speed {
      width: 58%;
    }

    &.hitting-power {
      width: 13%;
    }

    &.ball-control {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &.receptions {
      width: 8%;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.players.receiving {
  .rushing-rating {
    display: none;
  }

  .player-ratings li {
    &.running-speed {
      width: 8%;
    }

    &.maximum-speed {
      width: 38%;
    }

    &.hitting-power {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &.ball-control {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &.receptions {
      width: 38%;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.players.ol {
  .player-ratings li {
    &.maximum-speed {
      width: 48%;
    }

    &.hitting-power {
      width: 48%;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.players.dl {
  .player-ratings li {
    &.rushing-speed {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &.rushing-power {
      width: 8%;
    }

    &.maximum-speed {
      width: 38%;
    }

    &.hitting-power {
      width: 38%;
    }

    &.interceptions {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.players.lb {
  .player-ratings li {
    &.rushing-speed {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &.rushing-power {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &.maximum-speed {
      width: 38%;
    }

    &.hitting-power {
      width: 38%;
    }

    &.interceptions {
      width: 8%;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.players.secondary {
  .player-ratings li {
    &.rushing-speed {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &.rushing-power {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &.maximum-speed {
      width: 38%;
    }

    &.hitting-power {
      width: 13%;
    }

    &.interceptions {
      width: 33%;
    }

    &:last-child {
      margin: 0;
    }
  }
}

$power-values: 6, 13, 19, 25, 31, 38, 44, 50, 56, 63, 69, 75, 81, 88, 94;

@each $value in $power-values {
  .power-#{$value} {
    @include power-meter(percentage($value) / 100);
  }
}

