body.bills {
  background: #cc3333;
}

header {
  margin: 2em 2em 0;

  h1 {
    background-repeat: no-repeat;
    background-size: 64px 64px;
    font-size: 2em;
    font-weight: bold;
    line-height: 60px;
    margin: 0 0 2em 0;
    padding: 18px 0;

    i {
      margin: 0 10px 0 0;
      vertical-align: middle;
    }
  }
}

.players {
  margin: 0 2em 4em;
  max-width: 1020px;

  .player {
    @extend .clearfix;
    margin: 0 0 8px 0;
    padding: 0 0 8px 0;

    // Player info
    // *************************************************************************
    .headshot {
      float: left;
      margin: 0 10px 0 0;
      width: 32px;
    }

    .player-info {
      float: left;
      width: 160px;

      .player-name {
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 2px 0;
      }

      .player-position-number {
        color: #fff;
        font-size: 14px;
      }
    }

    // Player rankings
    // *************************************************************************
    .player-ranking {
      float: left;
      text-align: center;
      width: 80px;

      h5 {
        font-size: 22px;
        font-weight: bold;
        margin: 4px 0 0 0;
      }
    }

    // Player abilities
    // *************************************************************************
    .player-abilities {
      float: left;
      width: 738px;

      > li {
        background-color: rgba(#fff, 0.25);
        @include box-sizing(border-box);
        border: 3px solid #fff;
        color: #222;
        font-size: 12px;
        font-weight: bold;
        float: left;
        margin: 0 0 0 2%;
        padding: 8px 4px;
        width: 18%;
      }
    }
  }

  // Player info headers
  // ***************************************************************************
  .labels {
    border-bottom: 1px solid rgba(#fff, 0.25);
    margin: 0 0 12px 0;
    padding: 0 0 2px 0;

    .section-label {
      float: left;
      width: 202px;

      h3 {
        font-size: 20px;
        font-weight: bold;
      }
    }

    .player-ranking {
      margin-bottom: 4px;

      h5 {
        font-size: 12px;
        margin: 0 0 2px 0;
      }

      h6 {
        color: #d7d7d7;
        font-size: 12px;
      }
    }

    .player-abilities {
      > li {
        background-color: transparent;
        border: 0;
        position: relative;

        span {
          display: inline-block;
          font-size: 11px;
          font-weight: bold;
          left: -2px;
          position: absolute;
          top: -16px;
          @include transform(rotate(-45deg));
          width: 65px;
        }
      }
    }
  }
}

.skill-toggles {
  @extend .clearfix;
  /*background: rgba(#fff, 0.125);*/
  margin: -12px 0 1.5em 0;
  text-align: center;

  li {
    display: inline-block;

    a {
      /*border-right: 1px solid rgba(#fff, 0.2);*/
      color: #292929;
      display: block;
      font-weight: bold;
      opacity: 0.5;
      padding: 0.75em 0.75em;
      position: relative;
      text-align: center;
      text-decoration: none;

      &.active,
      &:hover {
        /*background: rgba(#fff, 0.2);*/
        opacity: 1;
      }

      &.active:after {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #292929;
        bottom: -0.15em;
        content: " ";
        height: 0;
        left: 50%;
        margin-left: -8px;
        position: absolute;
        width: 0;
      }
    }
  }
}

.players.rb-wr-te.kick-return {
  .labels {
    .player-abilities {
      .maximum-speed {
        display: block;
        width: 48%;
      }
    }
  }
}

.players.rb-wr-te.punt-return {
  .labels {
    .player-abilities {
      .maximum-speed {
        display: block;
        width: 58%;
      }
    }
  }
}

// Rating values
// *****************************************************************************
.players.qb {
  .player-abilities li {
    &.maximum-speed {
      width: 23%;
    }

    &.passing-speed {
      width: 13%;
    }

    &.pass-control {
      width: 48%;
    }

    &.avoid-pass-block {
      width: 8%;
    }
  }
}

.players.rushing {
  .receiving-rating,
  .kick-return-rating,
  .punt-return-rating {
    display: none;
  }

  .player-abilities li {
    &.running-speed {
      width: 8%;
    }

    &.maximum-speed {
      width: 58%;

      &.kick-return,
      &.punt-return {
        display: none;
      }
    }

    &.hitting-power {
      width: 13%;
    }

    &.ball-control {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &.receptions {
      width: 8%;
    }
  }
}

.players.receiving {
  .rushing-rating,
  .kick-return-rating,
  .punt-return-rating {
    display: none;
  }

  .player-abilities li {
    &.running-speed {
      width: 8%;
    }

    &.maximum-speed {
      width: 38%;

      &.kick-return,
      &.punt-return {
        display: none;
      }
    }

    &.hitting-power {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &.ball-control {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &.receptions {
      width: 38%;
    }
  }
}

.players.kick-return {
  .rushing-rating,
  .receiving-rating,
  .punt-return-rating {
    display: none;
  }

  .player-abilities li {
    &.running-speed {
      width: 23%;
    }

    &.maximum-speed {
      display: none;

      &.punt-return {
        display: none;
      }

      &.kick-return {
        display: block;
        width: 48%;
      }
    }

    &.hitting-power {
      width: 13%;
    }

    &.ball-control {
      width: 8%;
    }

    &.receptions {
      display: none;
    }
  }
}

.players.punt-return {
  .rushing-rating,
  .receiving-rating,
  .kick-return-rating {
    display: none;
  }

  .player-abilities li {
    &.running-speed {
      width: 23%;
    }

    &.maximum-speed {
      display: none;

      &.kick-return {
        display: none;
      }

      &.punt-return {
        display: block;
        width: 58%;
      }
    }

    &.hitting-power {
      width: 13%;
    }

    &.ball-control {
      display: none;
    }

    &.receptions {
      display: none;
    }
  }
}

.players.ol {
  .player-abilities li {
    &.maximum-speed {
      width: 48%;
    }

    &.hitting-power {
      width: 48%;
    }
  }
}

.players.dl {
  .player-abilities li {
    &.rushing-speed {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &.rushing-power {
      width: 8%;
    }

    &.maximum-speed {
      width: 38%;
    }

    &.hitting-power {
      width: 38%;
    }

    &.interceptions {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }
  }
}

.players.lb {
  .player-abilities li {
    &.rushing-speed {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &.rushing-power {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &.maximum-speed {
      width: 38%;
    }

    &.hitting-power {
      width: 38%;
    }

    &.interceptions {
      width: 8%;
    }
  }
}

.players.secondary {
  .player-abilities li {
    &.rushing-speed {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &.rushing-power {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &.maximum-speed {
      width: 38%;
    }

    &.hitting-power {
      width: 13%;
    }

    &.interceptions {
      width: 33%;
    }
  }
}

// Player attribute values
// *****************************************************************************
$power-values: 6, 13, 19, 25, 31, 38, 44, 50, 56, 63, 69, 75, 81, 88, 94;

@mixin power-meter($ability) {
  @include background-image(linear-gradient(left, #63adff 0%, #63adff $ability, transparent $ability));
}

@each $value in $power-values {
  .power-#{$value} {
    @include power-meter(percentage($value) / 100);
  }
}

// Team helmets
// *****************************************************************************
$teams: 49ers bears bengals bills broncos browns buccaneers cardinals chargers chiefs colts cowboys dolphins eagles falcons giants jets lions oilers packers patriots raiders rams redskins saints seahawks steelers vikings;

.helmet {
  background-image: url("/images/helmets.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 60px;
  width: 60px;
}

$z: 0;
@each $team in $teams {
  .helmet-#{$team} {
    background-position: $z * -62px 0;
  }

  $z: $z + 1;
}

// Player headshots
// *****************************************************************************
$positions: qb1 qb2 rb1 rb2 rb3 rb4 wr1 wr2 wr3 wr4 te1 te2 c lg rg lt rt re nt le rolb rilb lilb lolb rcb lcb fs ss;

.headshot {
  background-repeat: no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px;
}

.headshot-bills {
  background-image: url("/images/players/bills.png");
}

$z: 0;
@each $position in $positions {
  .headshot-#{$position} {
    background-position: $z * -32px 0;
  }

  $z: $z + 1;
}

