@mixin power-meter($ability) {
  @include background-image(linear-gradient(left, #63adff 0%, #63adff $ability, transparent $ability));
}

header {
  h1 {
    background-repeat: no-repeat;
    background-size: 64px 64px;
    font-size: 2em;
    font-weight: bold;
    line-height: 60px;
    margin: 0 0 2em 0;
    padding: 18px 0;

    i {
      margin: 0 10px 0 0;
      vertical-align: middle;
    }
  }
}

.players {
  margin: 0 0 4em 0;

  .player {
    @extend .clearfix;
    margin: 0 0 8px 0;
    padding: 0 0 8px 0;

    i {
      display: inline-block;
      float: left;
      margin: 0 10px 0 0;
      width: 32px;
    }

    .player-info {
      float: left;
      width: 160px;

      h3 {
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 2px 0;
      }

      h4 {
        color: #555;
        font-size: 14px;
      }
    }

    .player-overall-rating {
      float: left;
      margin: 0 20px 0 0;
      text-align: center;
      width: 80px;

      h5 {
        font-size: 22px;
        font-weight: bold;
        margin: 4px 0 0 0;
      }
    }

    .player-ratings {
      float: left;
      width: 700px;

      > li {
        @include box-sizing(border-box);
        border: 3px solid #d7d7d7;
        color: #222;
        font-size: 12px;
        font-weight: bold;
        float: left;
        margin: 0 2% 0 0;
        padding: 8px 4px;
        width: 18%;
      }
    }
  }

  .labels {
    border-bottom: 1px solid #eee;
    margin: 0 0 12px 0;
    padding: 0 0 2px 0;

    .section-label {
      float: left;
      width: 206px;

      h3 {
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 2px 0;
      }
    }

    .player-overall-rating {
      margin-bottom: 4px;

      h5 {
        font-size: 12px;
      }

      h6 {
        color: #aaa;
        font-size: 12px;
      }
    }

    .player-ratings {
      > li {
        border: 0;
        position: relative;

        span {
          color: #444;
          display: inline-block;
          font-size: 11px;
          font-weight: bold;
          left: -2px;
          position: absolute;
          top: -24px;
          @include transform(rotate(-45deg));
          width: 65px;
        }
      }
    }
  }
}

.players.qb {
  .player-ratings li {
    &.maximum-speed {
      width: 23%;
    }

    &.passing-speed {
      width: 13%;
    }

    &.pass-control {
      width: 48%;
    }

    &.avoid-pass-block {
      width: 8%;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.players.rushing {
  .receiving-rating {
    display: none;
  }

  .player-ratings li {
    &.running-speed {
      width: 8%;
    }

    &.maximum-speed {
      width: 58%;
    }

    &.hitting-power {
      width: 13%;
    }

    &.ball-control {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &.receptions {
      width: 8%;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.players.receiving {
  .rushing-rating {
    display: none;
  }

  .player-ratings li {
    &.running-speed {
      width: 8%;
    }

    &.maximum-speed {
      width: 38%;
    }

    &.hitting-power {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &.ball-control {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &.receptions {
      width: 38%;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.players.ol {
  .player-ratings li {
    &.maximum-speed {
      width: 48%;
    }

    &.hitting-power {
      width: 48%;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.players.dl {
  .player-ratings li {
    &.rushing-speed {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &.rushing-power {
      width: 8%;
    }

    &.maximum-speed {
      width: 38%;
    }

    &.hitting-power {
      width: 38%;
    }

    &.interceptions {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.players.lb {
  .player-ratings li {
    &.rushing-speed {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &.rushing-power {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &.maximum-speed {
      width: 38%;
    }

    &.hitting-power {
      width: 38%;
    }

    &.interceptions {
      width: 8%;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.players.secondary {
  .player-ratings li {
    &.rushing-speed {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &.rushing-power {
      width: 3%;
      padding-left: 1px;
      padding-right: 0;
    }

    &.maximum-speed {
      width: 38%;
    }

    &.hitting-power {
      width: 13%;
    }

    &.interceptions {
      width: 33%;
    }

    &:last-child {
      margin: 0;
    }
  }
}

// Player attribute values
// *****************************************************************************
$power-values: 6, 13, 19, 25, 31, 38, 44, 50, 56, 63, 69, 75, 81, 88, 94;

@each $value in $power-values {
  .power-#{$value} {
    @include power-meter(percentage($value) / 100);
  }
}

// Team helmets
// *****************************************************************************
$teams: 49ers bears bengals bills broncos browns buccaneers cardinals chargers chiefs colts cowboys dolphins eagles falcons giants jets lions oilers packers patriots raiders rams redskins saints seahawks steelers vikings;

.helmet {
  background-image: url("/images/helmets.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 60px;
  width: 60px;
}

$z: 0;
@each $team in $teams {
  .helmet-#{$team} {
    background-position: $z * -60px 0;
  }

  $z: $z + 1;
}

// Player headshots
// *****************************************************************************
$positions: qb1 qb2 rb1 rb2 rb3 rb4 wr1 wr2 wr3 wr4 te1 te2 c lg rg lt rt re nt le rolb rilb lilb lolb rcb lcb fs ss;

.headshot {
  background-repeat: no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px;
}

.headshot-bills {
  background-image: url("/images/players/bills.png");
}

$z: 0;
@each $position in $positions {
  .headshot-#{$position} {
    background-position: $z * -32px 0;
  }

  $z: $z + 1;
}

