.main-header {
  @extend .clearfix;
  background: #165ec9;
  border-bottom: 1px solid rgba(#fff, 0.15);
  @include box-sizing(border-box);
  @include box-shadow(0 0 5px 0 rgba(#000, 0.2));
  left: 0;
  min-width: 885px;
  padding: 1em 0.75em 0.75em 0.75em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  h1 {
    color: #fff;
    font-family: tecmo;
    float: left;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    width: 140px;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  nav {
    @extend .clearfix;
    float: left;
    padding: 12px 10px 10px 10px;
    width: 700px;

    ul {
      @extend .clearfix;
      margin: 0 0 0 1.35em;

      > li {
        float: left;
        margin: 0 1.5em 0 0;
        position: relative;

        > a {
          color: #fff;
          display: block;
          font-family: tecmo;
          font-size: 13px;
          font-weight: normal;
          padding: 6px 30px 6px 12px;
          position: relative;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
          }

          &:after {
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #fff;
            bottom: -0.15em;
            content: " ";
            height: 0;
            right: 10px;
            margin-left: -8px;
            position: absolute;
            top: 9px;
            width: 0;
          }

          &.active {
            background: rgba(#000, 0.9);
            border-radius: 4px 4px 0 0;
            color: #fff;
          }
        }

        > ol {
          @extend .clearfix;
          background: rgba(#000, 0.9);
          border-radius: 0 4px 4px 4px;
          display: none;
          padding: 12px 0;
          position: absolute;
          width: 500px;
          z-index: 1000;

          > li {
            float: left;
            width: 33.333333333333333%;

            h6 {
              display: none;
            }

            a {
              color: #fff;
              display: block;
              font-size: 13px;
              font-weight: bold;
              padding: 6px 30px 6px 12px;
              position: relative;
              text-decoration: none;

              &:hover {
                background: #272727;
              }

              &.active {
                background: rgba(#000, 0.9);
                border-radius: 4px 4px 0 0;
                color: #fff;
              }
            }

            ol {
              li {
                a {
                  border-radius: 4px;
                  @include box-sizing(border-box);
                  color: #fff;
                  display: block;
                  font-size: 14px;
                  font-weight: bold;
                  margin: 0 12px;
                  padding: 6px;
                  text-decoration: none;

                  i {
                    margin-right: 8px;
                    vertical-align: middle;
                  }

                  &:hover {
                    background: #272727;
                  }
                }
              }
            }
          }
        }

        &.rankings {
          a:after {
            content: none;
          }
        }
      }
    }
  }
}

.main-header .nav-players {
  > ol {
    width: 340px;

    > li {
      width: 50%;
    }
  }
}

