/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Clear Floated Elements
------------------------------------------------------------------------------*/
.clearfix:before, .players .player:before,
.clearfix:after,
.players .player:after {
  content: " ";
  display: table; }

.clearfix:after, .players .player:after {
  clear: both; }

.clearfix, .players .player {
  *zoom: 1; }

body {
  color: #333;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  padding: 50px; }

header h1 {
  background-repeat: no-repeat;
  background-size: 64px 64px;
  font-size: 2em;
  font-weight: bold;
  margin: 0 0 2em 0;
  padding: 18px 0 18px 84px; }

body.bills header h1 {
  background-image: url("/images/helmets/bills.png"); }

.players {
  margin: 0 0 4em 0; }
  .players .player {
    margin: 0 0 8px 0;
    padding: 0 0 8px 0; }
    .players .player .headshot {
      float: left;
      margin: 0 10px 0 0;
      width: 36px; }
    .players .player .player-info {
      float: left;
      width: 160px; }
      .players .player .player-info h3 {
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 2px 0; }
      .players .player .player-info h4 {
        color: #555;
        font-size: 14px; }
    .players .player .player-overall-rating {
      float: left;
      margin: 0 20px 0 0;
      text-align: center;
      width: 80px; }
      .players .player .player-overall-rating h5 {
        font-size: 22px;
        font-weight: bold;
        margin: 4px 0 0 0; }
    .players .player .player-ratings {
      float: left;
      width: 700px; }
      .players .player .player-ratings > li {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 3px solid #d7d7d7;
        color: #222;
        font-size: 12px;
        font-weight: bold;
        float: left;
        margin: 0 2% 0 0;
        padding: 8px 4px;
        width: 18%; }
  .players .labels {
    border-bottom: 1px solid #eeeeee;
    margin: 0 0 12px 0;
    padding: 0 0 2px 0; }
    .players .labels .section-label {
      float: left;
      width: 206px; }
      .players .labels .section-label h3 {
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 2px 0; }
    .players .labels .player-overall-rating {
      margin-bottom: 4px; }
      .players .labels .player-overall-rating h5 {
        font-size: 12px; }
      .players .labels .player-overall-rating h6 {
        color: #aaa;
        font-size: 12px; }
    .players .labels .player-ratings > li {
      border: 0;
      position: relative; }
      .players .labels .player-ratings > li span {
        color: #444;
        display: inline-block;
        font-size: 11px;
        font-weight: bold;
        left: -2px;
        position: absolute;
        top: -24px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 65px; }

.players.qb .player-ratings li.maximum-speed {
  width: 23%; }
.players.qb .player-ratings li.passing-speed {
  width: 13%; }
.players.qb .player-ratings li.pass-control {
  width: 48%; }
.players.qb .player-ratings li.avoid-pass-block {
  width: 8%; }
.players.qb .player-ratings li:last-child {
  margin: 0; }

.players.rushing .receiving-rating {
  display: none; }
.players.rushing .player-ratings li.running-speed {
  width: 8%; }
.players.rushing .player-ratings li.maximum-speed {
  width: 58%; }
.players.rushing .player-ratings li.hitting-power {
  width: 13%; }
.players.rushing .player-ratings li.ball-control {
  width: 3%;
  padding-left: 1px;
  padding-right: 0; }
.players.rushing .player-ratings li.receptions {
  width: 8%; }
.players.rushing .player-ratings li:last-child {
  margin: 0; }

.players.receiving .rushing-rating {
  display: none; }
.players.receiving .player-ratings li.running-speed {
  width: 8%; }
.players.receiving .player-ratings li.maximum-speed {
  width: 38%; }
.players.receiving .player-ratings li.hitting-power {
  width: 3%;
  padding-left: 1px;
  padding-right: 0; }
.players.receiving .player-ratings li.ball-control {
  width: 3%;
  padding-left: 1px;
  padding-right: 0; }
.players.receiving .player-ratings li.receptions {
  width: 38%; }
.players.receiving .player-ratings li:last-child {
  margin: 0; }

.players.ol .player-ratings li.maximum-speed {
  width: 48%; }
.players.ol .player-ratings li.hitting-power {
  width: 48%; }
.players.ol .player-ratings li:last-child {
  margin: 0; }

.players.dl .player-ratings li.rushing-speed {
  width: 3%;
  padding-left: 1px;
  padding-right: 0; }
.players.dl .player-ratings li.rushing-power {
  width: 8%; }
.players.dl .player-ratings li.maximum-speed {
  width: 38%; }
.players.dl .player-ratings li.hitting-power {
  width: 38%; }
.players.dl .player-ratings li.interceptions {
  width: 3%;
  padding-left: 1px;
  padding-right: 0; }
.players.dl .player-ratings li:last-child {
  margin: 0; }

.players.lb .player-ratings li.rushing-speed {
  width: 3%;
  padding-left: 1px;
  padding-right: 0; }
.players.lb .player-ratings li.rushing-power {
  width: 3%;
  padding-left: 1px;
  padding-right: 0; }
.players.lb .player-ratings li.maximum-speed {
  width: 38%; }
.players.lb .player-ratings li.hitting-power {
  width: 38%; }
.players.lb .player-ratings li.interceptions {
  width: 8%; }
.players.lb .player-ratings li:last-child {
  margin: 0; }

.players.secondary .player-ratings li.rushing-speed {
  width: 3%;
  padding-left: 1px;
  padding-right: 0; }
.players.secondary .player-ratings li.rushing-power {
  width: 3%;
  padding-left: 1px;
  padding-right: 0; }
.players.secondary .player-ratings li.maximum-speed {
  width: 38%; }
.players.secondary .player-ratings li.hitting-power {
  width: 13%; }
.players.secondary .player-ratings li.interceptions {
  width: 33%; }
.players.secondary .player-ratings li:last-child {
  margin: 0; }

.power-6 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 6%, transparent 6%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 6%, transparent 6%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 6%, transparent 6%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 6%, transparent 6%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 6%, transparent 6%); }

.power-13 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 13%, transparent 13%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 13%, transparent 13%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 13%, transparent 13%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 13%, transparent 13%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 13%, transparent 13%); }

.power-19 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 19%, transparent 19%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 19%, transparent 19%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 19%, transparent 19%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 19%, transparent 19%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 19%, transparent 19%); }

.power-25 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 25%, transparent 25%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 25%, transparent 25%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 25%, transparent 25%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 25%, transparent 25%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 25%, transparent 25%); }

.power-31 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 31%, transparent 31%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 31%, transparent 31%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 31%, transparent 31%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 31%, transparent 31%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 31%, transparent 31%); }

.power-38 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 38%, transparent 38%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 38%, transparent 38%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 38%, transparent 38%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 38%, transparent 38%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 38%, transparent 38%); }

.power-44 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 44%, transparent 44%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 44%, transparent 44%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 44%, transparent 44%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 44%, transparent 44%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 44%, transparent 44%); }

.power-50 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 50%, transparent 50%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 50%, transparent 50%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 50%, transparent 50%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 50%, transparent 50%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 50%, transparent 50%); }

.power-56 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 56%, transparent 56%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 56%, transparent 56%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 56%, transparent 56%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 56%, transparent 56%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 56%, transparent 56%); }

.power-63 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 63%, transparent 63%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 63%, transparent 63%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 63%, transparent 63%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 63%, transparent 63%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 63%, transparent 63%); }

.power-69 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 69%, transparent 69%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 69%, transparent 69%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 69%, transparent 69%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 69%, transparent 69%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 69%, transparent 69%); }

.power-75 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 75%, transparent 75%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 75%, transparent 75%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 75%, transparent 75%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 75%, transparent 75%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 75%, transparent 75%); }

.power-81 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 81%, transparent 81%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 81%, transparent 81%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 81%, transparent 81%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 81%, transparent 81%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 81%, transparent 81%); }

.power-88 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 88%, transparent 88%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 88%, transparent 88%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 88%, transparent 88%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 88%, transparent 88%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 88%, transparent 88%); }

.power-94 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 94%, transparent 94%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 94%, transparent 94%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 94%, transparent 94%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 94%, transparent 94%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 94%, transparent 94%); }
