/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Clear Floated Elements
------------------------------------------------------------------------------*/
.clearfix:before, .players .player:before, .skill-toggles:before, footer:before,
.clearfix:after,
.players .player:after,
.skill-toggles:after,
footer:after {
  content: " ";
  display: table; }

.clearfix:after, .players .player:after, .skill-toggles:after, footer:after {
  clear: both; }

.clearfix, .players .player, .skill-toggles, footer {
  *zoom: 1; }

body {
  color: #292929;
  font-family: "helvetica neue", helvetica, arial, sans-serif; }

body.bills {
  background: #cc3333; }

header {
  margin: 0 0 3em 0;
  padding: 2em 2em; }
  header h1 {
    color: #fff;
    font-size: 2em;
    font-weight: 300; }
    header h1 i {
      margin: 0 0.75em 0 0;
      vertical-align: middle; }

.players {
  margin: 0 2.5em 4em;
  max-width: 1440px; }
  .players .player {
    margin: 0 0 7px 0;
    padding: 0 0 7px 0;
    position: relative; }
    .players .player .headshot {
      border-radius: 2px;
      float: left;
      margin: 0 10px 0 0;
      position: absolute;
      width: 32px; }
    .players .player .player-info {
      float: left;
      left: 42px;
      position: absolute;
      width: 160px; }
      .players .player .player-info .player-name {
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 2px 0; }
      .players .player .player-info .player-position-number {
        color: #fff;
        font-size: 14px; }
    .players .player .player-ranking {
      float: left;
      left: 202px;
      position: absolute;
      text-align: center;
      width: 80px; }
      .players .player .player-ranking h5 {
        font-size: 22px;
        font-weight: bold;
        margin: 4px 0 0 0;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2); }
    .players .player .player-abilities {
      margin-left: 282px;
      width: auto; }
      .players .player .player-abilities > li {
        background-color: rgba(255, 255, 255, 0.25);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 3px solid white;
        color: #222;
        font-size: 12px;
        font-weight: bold;
        float: left;
        margin: 0 0 0 2%;
        padding: 7px 4px;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
        width: 18%; }
  .players .labels {
    border-bottom: 3px solid rgba(255, 255, 255, 0.25);
    margin: 0 0 12px 0;
    padding: 0 0 2px 0; }
    .players .labels .section-label {
      float: left;
      width: 202px; }
      .players .labels .section-label h3 {
        color: rgba(255, 255, 255, 0.25);
        font-size: 20px;
        font-weight: bold; }
    .players .labels .player-ranking {
      margin-bottom: 4px;
      position: static; }
      .players .labels .player-ranking h5 {
        color: rgba(255, 255, 255, 0.25);
        font-size: 12px;
        margin: 0 0 2px 0; }
      .players .labels .player-ranking h6 {
        color: rgba(255, 255, 255, 0.25);
        font-size: 12px;
        font-weight: bold; }
    .players .labels .player-abilities > li {
      background-color: transparent;
      border: 0;
      color: rgba(255, 255, 255, 0.35);
      font-size: 14px;
      padding: 0; }

.skill-toggles {
  /*background: rgba(#fff, 0.125);*/
  margin: -12px 0 1.25em 0;
  text-align: center; }
  .skill-toggles li {
    display: inline-block; }
    .skill-toggles li a {
      /*border-right: 1px solid rgba(#fff, 0.2);*/
      color: #292929;
      display: block;
      font-weight: bold;
      opacity: 0.5;
      padding: 0.75em 0.75em;
      position: relative;
      text-align: center;
      text-decoration: none; }
      .skill-toggles li a.active, .skill-toggles li a:hover {
        /*background: rgba(#fff, 0.2);*/
        opacity: 1; }
      .skill-toggles li a.active:after {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #292929;
        bottom: -0.15em;
        content: " ";
        height: 0;
        left: 50%;
        margin-left: -8px;
        position: absolute;
        width: 0; }

.players.rb-wr-te.kick-return .labels .player-abilities .maximum-speed {
  display: block;
  width: 48%; }

.players.rb-wr-te.punt-return .labels .player-abilities .maximum-speed {
  display: block;
  width: 58%; }

.players.qb .player-abilities li.maximum-speed {
  width: 23%; }
.players.qb .player-abilities li.passing-speed {
  width: 13%; }
.players.qb .player-abilities li.pass-control {
  width: 48%; }
.players.qb .player-abilities li.avoid-pass-block {
  width: 8%; }

.players.rushing .receiving-rating,
.players.rushing .kick-return-rating,
.players.rushing .punt-return-rating {
  display: none; }
.players.rushing .player-abilities li.running-speed {
  width: 8%; }
.players.rushing .player-abilities li.maximum-speed {
  width: 58%; }
  .players.rushing .player-abilities li.maximum-speed.kick-return, .players.rushing .player-abilities li.maximum-speed.punt-return {
    display: none; }
.players.rushing .player-abilities li.hitting-power {
  width: 13%; }
.players.rushing .player-abilities li.ball-control {
  width: 3%;
  padding-left: 1px;
  padding-right: 0; }
.players.rushing .player-abilities li.receptions {
  width: 8%; }

.players.receiving .rushing-rating,
.players.receiving .kick-return-rating,
.players.receiving .punt-return-rating {
  display: none; }
.players.receiving .player-abilities li.running-speed {
  width: 8%; }
.players.receiving .player-abilities li.maximum-speed {
  width: 38%; }
  .players.receiving .player-abilities li.maximum-speed.kick-return, .players.receiving .player-abilities li.maximum-speed.punt-return {
    display: none; }
.players.receiving .player-abilities li.hitting-power {
  width: 3%;
  padding-left: 1px;
  padding-right: 0; }
.players.receiving .player-abilities li.ball-control {
  width: 3%;
  padding-left: 1px;
  padding-right: 0; }
.players.receiving .player-abilities li.receptions {
  width: 38%; }

.players.kick-return .rushing-rating,
.players.kick-return .receiving-rating,
.players.kick-return .punt-return-rating {
  display: none; }
.players.kick-return .player-abilities li.running-speed {
  width: 23%; }
.players.kick-return .player-abilities li.maximum-speed {
  display: none; }
  .players.kick-return .player-abilities li.maximum-speed.punt-return {
    display: none; }
  .players.kick-return .player-abilities li.maximum-speed.kick-return {
    display: block;
    width: 48%; }
.players.kick-return .player-abilities li.hitting-power {
  width: 13%; }
.players.kick-return .player-abilities li.ball-control {
  width: 8%; }
.players.kick-return .player-abilities li.receptions {
  display: none; }

.players.punt-return .rushing-rating,
.players.punt-return .receiving-rating,
.players.punt-return .kick-return-rating {
  display: none; }
.players.punt-return .player-abilities li.running-speed {
  width: 23%; }
.players.punt-return .player-abilities li.maximum-speed {
  display: none; }
  .players.punt-return .player-abilities li.maximum-speed.kick-return {
    display: none; }
  .players.punt-return .player-abilities li.maximum-speed.punt-return {
    display: block;
    width: 58%; }
.players.punt-return .player-abilities li.hitting-power {
  width: 13%; }
.players.punt-return .player-abilities li.ball-control {
  display: none; }
.players.punt-return .player-abilities li.receptions {
  display: none; }

.players.ol .player-abilities li.maximum-speed {
  width: 48%; }
.players.ol .player-abilities li.hitting-power {
  width: 48%; }

.players.dl .player-abilities li.rushing-speed {
  width: 3%;
  padding-left: 1px;
  padding-right: 0; }
.players.dl .player-abilities li.rushing-power {
  width: 8%; }
.players.dl .player-abilities li.maximum-speed {
  width: 38%; }
.players.dl .player-abilities li.hitting-power {
  width: 38%; }
.players.dl .player-abilities li.interceptions {
  width: 3%;
  padding-left: 1px;
  padding-right: 0; }

.players.lb .player-abilities li.rushing-speed {
  width: 3%;
  padding-left: 1px;
  padding-right: 0; }
.players.lb .player-abilities li.rushing-power {
  width: 3%;
  padding-left: 1px;
  padding-right: 0; }
.players.lb .player-abilities li.maximum-speed {
  width: 38%; }
.players.lb .player-abilities li.hitting-power {
  width: 38%; }
.players.lb .player-abilities li.interceptions {
  width: 8%; }

.players.secondary .player-abilities li.rushing-speed {
  width: 3%;
  padding-left: 1px;
  padding-right: 0; }
.players.secondary .player-abilities li.rushing-power {
  width: 3%;
  padding-left: 1px;
  padding-right: 0; }
.players.secondary .player-abilities li.maximum-speed {
  width: 38%; }
.players.secondary .player-abilities li.hitting-power {
  width: 13%; }
.players.secondary .player-abilities li.interceptions {
  width: 33%; }

.power-6 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 6%, transparent 6%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 6%, transparent 6%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 6%, transparent 6%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 6%, transparent 6%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 6%, transparent 6%); }

.power-13 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 13%, transparent 13%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 13%, transparent 13%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 13%, transparent 13%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 13%, transparent 13%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 13%, transparent 13%); }

.power-19 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 19%, transparent 19%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 19%, transparent 19%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 19%, transparent 19%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 19%, transparent 19%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 19%, transparent 19%); }

.power-25 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 25%, transparent 25%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 25%, transparent 25%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 25%, transparent 25%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 25%, transparent 25%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 25%, transparent 25%); }

.power-31 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 31%, transparent 31%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 31%, transparent 31%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 31%, transparent 31%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 31%, transparent 31%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 31%, transparent 31%); }

.power-38 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 38%, transparent 38%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 38%, transparent 38%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 38%, transparent 38%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 38%, transparent 38%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 38%, transparent 38%); }

.power-44 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 44%, transparent 44%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 44%, transparent 44%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 44%, transparent 44%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 44%, transparent 44%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 44%, transparent 44%); }

.power-50 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 50%, transparent 50%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 50%, transparent 50%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 50%, transparent 50%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 50%, transparent 50%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 50%, transparent 50%); }

.power-56 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 56%, transparent 56%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 56%, transparent 56%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 56%, transparent 56%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 56%, transparent 56%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 56%, transparent 56%); }

.power-63 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 63%, transparent 63%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 63%, transparent 63%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 63%, transparent 63%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 63%, transparent 63%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 63%, transparent 63%); }

.power-69 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 69%, transparent 69%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 69%, transparent 69%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 69%, transparent 69%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 69%, transparent 69%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 69%, transparent 69%); }

.power-75 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 75%, transparent 75%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 75%, transparent 75%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 75%, transparent 75%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 75%, transparent 75%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 75%, transparent 75%); }

.power-81 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 81%, transparent 81%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 81%, transparent 81%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 81%, transparent 81%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 81%, transparent 81%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 81%, transparent 81%); }

.power-88 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 88%, transparent 88%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 88%, transparent 88%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 88%, transparent 88%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 88%, transparent 88%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 88%, transparent 88%); }

.power-94 {
  background-image: -webkit-linear-gradient(left, #63adff 0%, #63adff 94%, transparent 94%);
  background-image: -moz-linear-gradient(left, #63adff 0%, #63adff 94%, transparent 94%);
  background-image: -ms-linear-gradient(left, #63adff 0%, #63adff 94%, transparent 94%);
  background-image: -o-linear-gradient(left, #63adff 0%, #63adff 94%, transparent 94%);
  background-image: linear-gradient(left, #63adff 0%, #63adff 94%, transparent 94%); }

.helmet {
  background-image: url("../../images/helmets.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 60px;
  width: 60px; }

.helmet-49ers {
  background-position: 0px 0; }

.helmet-bears {
  background-position: -62px 0; }

.helmet-bengals {
  background-position: -124px 0; }

.helmet-bills {
  background-position: -186px 0; }

.helmet-broncos {
  background-position: -248px 0; }

.helmet-browns {
  background-position: -310px 0; }

.helmet-buccaneers {
  background-position: -372px 0; }

.helmet-cardinals {
  background-position: -434px 0; }

.helmet-chargers {
  background-position: -496px 0; }

.helmet-chiefs {
  background-position: -558px 0; }

.helmet-colts {
  background-position: -620px 0; }

.helmet-cowboys {
  background-position: -682px 0; }

.helmet-dolphins {
  background-position: -744px 0; }

.helmet-eagles {
  background-position: -806px 0; }

.helmet-falcons {
  background-position: -868px 0; }

.helmet-giants {
  background-position: -930px 0; }

.helmet-jets {
  background-position: -992px 0; }

.helmet-lions {
  background-position: -1054px 0; }

.helmet-oilers {
  background-position: -1116px 0; }

.helmet-packers {
  background-position: -1178px 0; }

.helmet-patriots {
  background-position: -1240px 0; }

.helmet-raiders {
  background-position: -1302px 0; }

.helmet-rams {
  background-position: -1364px 0; }

.helmet-redskins {
  background-position: -1426px 0; }

.helmet-saints {
  background-position: -1488px 0; }

.helmet-seahawks {
  background-position: -1550px 0; }

.helmet-steelers {
  background-position: -1612px 0; }

.helmet-vikings {
  background-position: -1674px 0; }

.headshot {
  background-repeat: no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px; }

.headshot-bills {
  background-image: url("../../images/players/bills.png"); }

.headshot-qb1 {
  background-position: 0px 0; }

.headshot-qb2 {
  background-position: -32px 0; }

.headshot-rb1 {
  background-position: -64px 0; }

.headshot-rb2 {
  background-position: -96px 0; }

.headshot-rb3 {
  background-position: -128px 0; }

.headshot-rb4 {
  background-position: -160px 0; }

.headshot-wr1 {
  background-position: -192px 0; }

.headshot-wr2 {
  background-position: -224px 0; }

.headshot-wr3 {
  background-position: -256px 0; }

.headshot-wr4 {
  background-position: -288px 0; }

.headshot-te1 {
  background-position: -320px 0; }

.headshot-te2 {
  background-position: -352px 0; }

.headshot-c {
  background-position: -384px 0; }

.headshot-lg {
  background-position: -416px 0; }

.headshot-rg {
  background-position: -448px 0; }

.headshot-lt {
  background-position: -480px 0; }

.headshot-rt {
  background-position: -512px 0; }

.headshot-re {
  background-position: -544px 0; }

.headshot-nt {
  background-position: -576px 0; }

.headshot-le {
  background-position: -608px 0; }

.headshot-rolb {
  background-position: -640px 0; }

.headshot-rilb {
  background-position: -672px 0; }

.headshot-lilb {
  background-position: -704px 0; }

.headshot-lolb {
  background-position: -736px 0; }

.headshot-rcb {
  background-position: -768px 0; }

.headshot-lcb {
  background-position: -800px 0; }

.headshot-fs {
  background-position: -832px 0; }

.headshot-ss {
  background-position: -864px 0; }

footer {
  background: #111;
  padding: 2em; }
  footer .team-list > li {
    float: left;
    margin: 0 0 2em 0;
    width: 16.6666666666667%; }
    footer .team-list > li h6 {
      color: #aaa;
      font-size: 14px;
      font-weight: bold;
      margin: 0 0 10px 0;
      text-transform: uppercase; }
    footer .team-list > li ol li a {
      border-radius: 4px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: #fff;
      display: block;
      font-size: 14px;
      font-weight: bold;
      margin: 0 20px 0 0;
      padding: 6px;
      text-decoration: none; }
      footer .team-list > li ol li a i {
        margin-right: 8px;
        vertical-align: middle; }
      footer .team-list > li ol li a:hover {
        background: #272727; }
