<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Comprehensive guide to player attributes and rankings in Tecmo Super Bowl for NES.">
    <title>{{ page.title }} &mdash; Tecmo Geek. The ultimate guide to Tecmo Super Bowl for NES.</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/stylesheets/application.css" media="screen">
  </head>

  <body class="{{ page.team }}">

    {% include top-nav.html %}

    <section id="container">
      {{ content }}
    </section>

    {% include team-footer.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.tinysort.min.js"></script>
    <script src="/javascripts/application.js"></script>
  </body>
</html>
